<nav class="nav">
  <a href="/" class="avatar"><img src="/static/images/common/avatar.png" /></a>
  <div id="menu-btn" class="menu-btn"><i class="icon icon-category"></i>菜单</div>
</nav>

<div class="nav-content">
  <h3>菜单</h3>
  <i id="close-nav" class="icon icon-close"></i>
  <div class="menus">
    <%- menus %>
  </div>
  <h3>关注我</h3>
  <div class="follow-me">
    <%- followMe %>
  </div>
</div>

<script>
  var menuBtn = document.getElementById('menu-btn');
  var closeNav = document.getElementById('close-nav');
  menuBtn.onclick = function() {
    document.body.classList.toggle('nav-open');
  };
  closeNav.onclick = function() {
    document.body.classList.toggle('nav-open');
  }
</script>
