@font-face {
	font-family: "icons";
	src: url('./icons.eot?0.7110547295911538');
	src: url('./icons.eot?0.7110547295911538#iefix') format('eot'),
		url('./icons.woff2?0.7110547295911538') format('woff2'),
		url('./icons.woff?0.7110547295911538') format('woff'),
		url('./icons.ttf?0.7110547295911538') format('truetype'),
		url('./icons.svg?0.7110547295911538#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-book:before {
	content: "\E001";
}

.icon-category:before {
	content: "\E002";
}

.icon-close:before {
	content: "\E003";
}

.icon-down:before {
	content: "\E004";
}

.icon-email:before {
	content: "\E005";
}

.icon-github:before {
	content: "\E006";
}

.icon-list:before {
	content: "\E007";
}

.icon-tag:before {
	content: "\E008";
}

.icon-twitter:before {
	content: "\E009";
}

.icon-zhihu:before {
	content: "\E00A";
}
